.mat-toolbar.search{
    height: 90px;
    border-bottom: 2px solid #8D99AE;
    background-color: #8D99AE;
    .mat-form-field {
      width: 100%;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 24px;
    }
  }
  