<footer class="md-padding footer">
    <mat-grid-list cols="3" rowHeight="60px">
        <mat-grid-tile>Derechos reservados Arcom,c.a. 2021</mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <div class="footer-socials">
                <div>Visitenos en nuestras redes sociales</div>
                <button mat-icon-button aria-label="social icon facebook">
                    <mat-icon style="color: white;" svgIcon="thumbs-up" aria-hidden="false" aria-label="social icon facebook"></mat-icon>
                </button>   
                <button style="color: #4267B2" mat-icon-button aria-label="social icon facebook">
                    <mat-icon svgIcon="facebook" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </button>
                <button mat-icon-button style="color: snow;" aria-label="social icon instagram">
                    <mat-icon svgIcon="instagram" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
                </button>
        </div>
        </mat-grid-tile>
      </mat-grid-list>
  </footer>
